.container {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#results{
    display: flex; 
    gap: 12px;
    justify-content: center;
    
}